!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :'xml:lang' => configatron.site_language, :lang => configatron.site_language}
  %head
    %title= (!@title.blank? ? "#{@title} / " : '') + configatron.site_name
    %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'keywords', :content => ""}
    %meta{:name => 'description', :content => ""}
    %link{:rel => 'icon', :href => '/favicon.ico'}
    %link{:href => '/css/screen.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js'}
    %script{:type => 'text/javascript', :src => '/js/sprintf.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery.loctime.js'}
    %script{:type => 'text/javascript', :src => '/js/application.js'}

  %body
    #container.rel
      %h1
        - if (request.env['REQUEST_PATH'] || request.env['REQUEST_URI'] || '').match(/^\/admin/i)
          %a{:href => '/admin'} #{configatron.site_name} Admin Area
        - else
          %a{:href => '/'}= configatron.site_name
          %small
            from the 
            %a.line{:href => 'http://fffff.at'} Free Art and Technology Lab

      #content
        = yield

      %a#bird.abs{:href => '/'}
        %img{:src => '/images/blank.png', :title => configatron.site_name, :alt => ''}

      #footer
        %p Copyfree &amp; open-sourced by <a href='http://www.gleuch.com'>Greg Leuch</a>, <a href='http://www.theowatson.com'>Theo Watson</a>, and the <a href='http://www.fffff.at'>Free Art and Technology Lab</a>.
        %p
          %strong <a href='http://www.github.com/gleuch/twitter-fileshare'>Get the code</a> and start seeding!