= partial('admin/nav')

.box
  %h2 Add a File
  .content
    - unless @files.blank? || @users.blank?
      %form{:action => "#{configatron.directory_path}/admin/queue", :method => 'post'}

        %h3 Users
        - @users.each do |user|
          .file.form.c
            .left.select
              %input{:id => "user_#{user.id}_radio", :type => 'radio', :name => 'user', :value => user.id}

            .left{:onclick => "var b = $('#user_#{user.id}_radio'); b.attr('checked') ? b.removeAttr('checked') :  b.attr('checked', 'checked');"}
              %h4= user.screen_name || user.account_id

        %h3 Files
        - @files.each_with_index do |file, i|
          .file.form.c
            .left.select
              %input{:id => "file_#{i}_radio", :type => 'radio', :name => 'file', :value => file}

            .left{:onclick => "var b = $('#file_#{i}_radio'); b.attr('checked') ? b.removeAttr('checked') :  b.attr('checked', 'checked');"}
              %h4
                = file
                %span.note (#{file_size(file)})

        %h3 Send Method
        - tweet_method = params[:tweet_method]
        - tweet_method ||= 'base64'
        - {:base64 => 'Base64 Encoded', :byte => 'Byte String', :plain => 'Plain Text'}.each do |k,v|
          .file.form.c
            .left.select
              %input{:id => "tweet_method_#{k.to_s}_radio", :type => 'radio', :name => 'tweet_method', :value => k.to_s, :checked => (tweet_method == k.to_s ? 'checked' : nil)}

            .left{:onclick => "var b = $('#tweet_method_#{k.to_s}_radio'); b.attr('checked') ? b.removeAttr('checked') :  b.attr('checked', 'checked');"}
              %h4= v

        %p.buttons
          %button Queue File

    - else
      %p.suggest There are no #{@users.blank? ? 'users' : 'files'} to choose from.