#nav
  %a.button{:href => '/admin/connect'} Add a user
  %a.button{:href => '/admin/queue'} Queue a file

.box
  %h2 Queue
  - unless @queue.blank?
    - @queue.each do |file|
      .file
        %h3
          %a{:href => "/admin/queue/#{file.id}"}= file.file.name
          - if file.cursor_length && file.cursor_position
            (#{sprintf("%.05f", (file.cursor_position/file.cursor_length.to_f)*100)}% complete)
            = file_time_left(file)
          - else
            (0% complete)
        %p
          Queued by
          %a{:href => "/admin/users/#{file.user.id}"} @#{file.user.screen_name}
      
  - else
    %dd.suggest There are no files.